@model IEnumerable<e3_1.ViewModels.ArticlePreview>

@{
    ViewBag.Title = "Index";
}

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>list article</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Article.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Article.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Article.Text)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Article.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Article.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Preview)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Article.ArticleID }) |
        @Html.ActionLink("Review", "Review", new { id = item.Article.ArticleID })
    </td>
</tr>
}

</table>
