@{
    ViewBag.Title = "Guest";
}

<header>
    <div class="top">
        <h2>Modern company</h2>
    </div>
</header>
<div class="layout">
    <div class="sidebar">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Guest", "Guest", "Home")</li>
            <li>@Html.ActionLink("Profile", "Profile", "Home")</li>
        </ul>
    </div>
    <div class="content">
        <h2>list review:</h2>
        @foreach (var review in ViewBag.Reviews)
        {
            <p>@review.Name
            @review.Date</p>
            <p>@review.Text</p>
        }
        <hr />
        @model e3_1.Models.Review
        @using (Html.BeginForm("Guest", "Home", FormMethod.Post))
        {
    <p>поле для ввода имени автора:@Html.TextBoxFor(m => m.Name)</p>
    <p>поле для ввода текста отзыва:@Html.TextAreaFor(m => m.Text)</p>
            <input type="submit" name="Button" value="Submit" />
        }
    </div>
</div>