
@{
    ViewBag.Title = "Profiles";
}

<header>
    <div class="top">
        <h2>Modern company</h2>
    </div>
</header>
<div class="layout">
    <div class="sidebar">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Guest", "Guest", "Home")</li>
            <li>@Html.ActionLink("Profiles", "Profiles", "Home")</li>
        </ul>
    </div>
    <div class="content">
        <h2>fill out a form</h2>
        @using (Html.BeginForm("Guest", "Home", FormMethod.Post))
        {
            <h3>your name:</h3>
            @Html.TextBox("UserName", null)
            <h3>have you ever been in:</h3>
            @Html.CheckBox("Shanghai")<span>Shanghai</span><br />
            @Html.CheckBox("Wuhan")<span>Wuhan</span><br />
            @Html.CheckBox("Fujian")<span>Fujian</span><br />
            <h3>did you vote for impeachment trump?</h3>
            @Html.RadioButton("answer", "yes")<span>yes</span><br />
            @Html.RadioButton("answer", "no")<span>no</span><br />
            <br />
            <input type="submit" name="Button" value="Submit" />
        }

    </div>
</div>



